# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# Confedential data
Secrets.json
!.vscode/JSON Schemas/*

# Dependency directories
node_modules

# Logs
logs
*.log
npm-debug.log
yarn-error.log

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local