# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# Confedential data
[Ss]ecrets.[jt]s
[Ss]ecrets.json
!.vscode/JSON Schemas/*

# Dependency directories
node_modules/**/*

# Test coverage files
/[Cc]overage.data
/[Cc]overage/**/*

# Distribution
[Bb]uild/**/*
[Dd]ist/**/*
env/

# Logs
logs
*.log
npm-debug.log
yarn-error.log

# Archived files
*.archived.*
*.archived

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local